@font-face {
	font-family: "VollkornSC-Regular";
	src: url("./Fonts/Vollkorn_SC/VollkornSC-Regular.ttf") format("truetype");
}

body {
	background-image: url(".././public/bakgrunn.png");
	background-size: 100vw;
	background-attachment: fixed;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
}
